

<h3 class="first">Create new account</h3>
<div >
  <div class="ui-inputgroup">
    <span class="ui-float-label">
      <input type="text" size="30" pInputText [(ngModel)]="firstname">
      <label  >Firstname </label>
    </span>
  </div>

  <div class="ui-inputgroup">
    <span class="ui-float-label">
      <input type="text" size="20" pInputText [(ngModel)]="name">
      <label  >Name </label>
    </span>
  </div>

  <div class="ui-inputgroup">
    <span class="ui-float-label">
      <input type="text" size="20" pInputText [(ngModel)]="email">
      <label  >Email </label>
    </span>
  </div>

<div>
    <input type="password" pPassword [(ngModel)]="password" />
</div>

<div>
    <ng-multiselect-dropdown [data]="sports" 
                              [(ngModel)]="selectedSports" 
                              [settings]="sportsSettings"
                              [placeholder]="'Slecect your sports'">
      </ng-multiselect-dropdown>
</div>
<br/>
<div>
  <ng-multiselect-dropdown [data]="adresses" 
                          [(ngModel)]="selectedAdress" 
                          [settings]="adresseSettings"
                          [placeholder]="'Slecect your adress'">
  </ng-multiselect-dropdown>
</div>
<div>
<button pButton type="button" label="Sign in" (click)="addUser()"></button>
</div>