<h3 class="first">Login</h3>
<div>
  <span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="email" > 
    <label  >Email</label>
  </span>
  <br/>
  <span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="password"> 
    <label>Password</label>
  </span>
  <br/>
</div>
<button pButton type="button" label="Log in" (click)="signin()" ></button>
<br/>
<br/>

<button pButton type="button" label="Sign up" (click)="signup()"></button>
  
