<h2>
  Your adress : {{currentUser?.adresse.adresse}}
  <br/>
  Your sports
</h2>

<p-dataTable [value]="currentUser?.sports" expandableRows="true">
  <p-column field="nomSport" header="Sport" [style]="{'width':'90px','text-align':'center'}"></p-column>
</p-dataTable>


<h2>
    Weather : {{weather.description}}
    <br/>
    So you can practice these sports
</h2>


  <p-table [value]="sportsProposes">
      <ng-template pTemplate="header">
          <tr>
              <th>Sport</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sport>
          <tr>
              <td>{{sport.nomSport}}</td>
          </tr>
      </ng-template>
  </p-table>
